.hidden_mobile {
  display: none;
  @media #{$breakpoint-sm-up} {
    display: block;
  }
}

.site-header {
  background-color: $color__main;
  display: flex;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
  }
  &__item {
    flex-grow: 1;
  }
  &__logo {
    max-width: 250px;
  }
  &__hamburger {
    margin-left: 40px;
  }
  &__shop {
    display: flex;
    justify-content: flex-end;
    > a {
      position: relative;
      > p {
        position: absolute;
        top: 39%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        font-family: $text__fontname;
        color: $color__bright;
      }
    }
  }
}
