/**
  * Variables
  * Contains re-usable variables like colors, sizes, breakpoints etc.
  * Normally, you don't have to change anything in essentials.css and general.css
  * because you'll define the basic-values here.
  *
  *
  */

/*==================================================================================
  GRID overwrite default
==================================================================================*/
// Grid
$grid-columns: 12; // Set number of columns in the grid

$xs-max: 40rem; // Set xs breakpoint's max width 40rem = 640px
$sm-max: 64rem; // Set sm breakpoint's max width 64rem =1,024px
$md-max: 90rem; // Set md breakpoint's max width 90rem = 1,440px
$lg-max: 120rem; // Set lg breakpoint's max width 120rem = 1,920px

$gutter: 1rem; // Set gutter size 16px

$content-well-max-width: "none"; // Set the max-width of the content well => see mixins

/*==================================================================================
  FONT
==================================================================================*/
@font-face {
  font-family: "span";
  src: url("https://use.typekit.net/af/d98007/00000000000000003b9b41cb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/d98007/00000000000000003b9b41cb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/d98007/00000000000000003b9b41cb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "span";
  src: url("https://use.typekit.net/af/35718a/00000000000000003b9b41ce/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/35718a/00000000000000003b9b41ce/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/35718a/00000000000000003b9b41ce/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "span";
  src: url("https://use.typekit.net/af/836981/00000000000000003b9b41cf/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/836981/00000000000000003b9b41cf/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/836981/00000000000000003b9b41cf/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "span";
  src: url("https://use.typekit.net/af/ed34c4/00000000000000003b9b41d0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/ed34c4/00000000000000003b9b41d0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/ed34c4/00000000000000003b9b41d0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "span";
  src: url("https://use.typekit.net/af/3a63d0/00000000000000003b9b41d1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/3a63d0/00000000000000003b9b41d1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/3a63d0/00000000000000003b9b41d1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap");

$text__fontname: "Work Sans", sans-serif; // Normal 400, Medium 500, Bold 700
$header__fontname: "span", serif; // Normal 400, Medium 500, Bold 700

/*==================================================================================
  COLORS
==================================================================================*/

/* from customiser root -> see function-customiser.php
/––––––––––––––––––––––––*/
$color__main: #c9b597;
$color__text: #141416;
$color__link: #141416;
$color__link-hover: #d6ab66;
$color__footerBg: #ffffff;
$color__bright: #ffffff;
$color__dark: #b7b7b7;

/*==================================================================================
  BUTTONS
==================================================================================*/

$button__color: $color__main;
$button__width: 180px;
$button__height: 48px;
$button__radius: 0px;

/*==================================================================================
  TYPOGRAPHY
==================================================================================*/

$text__h1: var(--text-h1);
$text__h2: var(--text-h2);
$text__h3: var(--text-h3);
$text__h4: var(--text-h4);
$text__h5: var(--text-h5);
$text__h6: var(--text-h6);
$text__p: var(--text-p);

$font__weight: 400; //This is the global font-weight for text, link etc.. Specify header weight separetelly
